<a href="https://colab.research.google.com/github/deepank120896/Learn-Python/blob/master/Self_Taught_Programmer_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In [0]:
print("Hello, World!")

Hello, World!

# Assignment 1

Write a program that asks the user to type a number, convert it to an integer, and print it. If you can't convert their input to an integer, print a message that says "Please type an integer."

In [0]:
def convert(string):
  try:
    return int(string)
  except Exception:
    print("Please type an integer.")

string = input("Enter number: ")
convert(string)

Enter number: De
Please type an integer.

# List [ ] -mutable

In [0]:
artists = ["Lata","Shankar","AR","Shan","Ehsaan"]
print(artists)
artists[4] = "John Lenon"
print(artists)
artists.append("Dance Monkey")
print(artists)

['Lata', 'Shankar', 'AR', 'Shan', 'Ehsaan']
['Lata', 'Shankar', 'AR', 'Shan', 'John Lenon']
['Lata', 'Shankar', 'AR', 'Shan', 'John Lenon', 'Dance Monkey']

# Tuples ( ) -immutable

In [0]:
authors = ("Premchand","Rolly","Sanjay","Dev","Karumanchi")
print(authors)

('Premchand', 'Rolly', 'Sanjay', 'Dev', 'Karumanchi')

# Dictionary { : } - mutable

In [2]:
me = { "height" : "170" ,
        "weight" : "72" ,
        "favourite_color" : "red" ,
        "favourite_author" : "none" ,
    }
print(me)

{'height': '170', 'weight': '72', 'favourite_color': 'red', 'favourite_author': 'none'}

In [4]:
my_list = []
delhi = (28.7041, 77.1025)
bangalore = (12.9716, 77.5946)
my_list.append(delhi)
my_list.append(bangalore)
print(my_list)

[(28.7041, 77.1025), (12.9716, 77.5946)]

# Strings

In [30]:
#string multiplication
name="deepank"
lastname="kartikey"
print(name * 3)
#string upper/lower case
print(name.upper())
print(name.lower())
#string capitalize
print(name.capitalize())
# FORMAT METHOD
print("deepank {}".format(lastname))
# Split string
print("deep ank kart i key".split(" "))
# JOIN METHOD
age = ['I','am','24','years','old.']
print(" ".join(age))
#

deepankdeepankdeepank
DEEPANK
deepank
Deepank
deepank kartikey
['deep', 'ank', 'kart', 'i', 'key']
I am 24 years old.

In [20]:
word = "Camus"
for i in range(len(word)):
  print(word[i])

C
a
m
u
s

In [22]:
string = ['aldous','was','born','in','1894.']
new_string = " ".join(string)
print(new_string.capitalize())

Aldous was born in 1894.

In [28]:
sentence = "Where now?Who now?When now?"
def getlist(sentence):
    my_list = sentence.split("?")
    del my_list[3]
    return my_list

print(getlist(sentence))

['Where now', 'Who now', 'When now']

In [29]:
my_list = ['The','fox','jumped','over','the','fence','.']
print(" ".join(my_list))

The fox jumped over the fence .