<a href="https://colab.research.google.com/github/deepank120896/Learn-Data-Science/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
!wget -cq https://s3.amazonaws.com/content.udacity-data.com/courses/nd188/flower_data.zip

In [0]:
!unzip -qq flower_data.zip

In [0]:
!ls "/content/drive/My Drive/"

 aadhar.jpg
'ACI Worldwide'
'Akshat Kaushal - AIR 55, Sociology, Paper-1 notes.pdf'
'Akshat Kaushal, AIR 55, Sociology, Paper 2.pdf'
'Amritsar, Golden Temple 2018'
'Colab Notebooks'
 First_Cut
 Happy-Birthday-Instrumental.mp3
 IAD
 IMG_20180516_061234.jpg
'Indian Army Officer Opening_TGC-128.pdf'
'Indian Bank Pass Book.jpeg'
'KIZEN - Infinite Off Season.xlsx'
 Masters
'Meals, Diet'
'my photo.jpg'
'OCA Java SE 8 Programmer I Certification Guide.pdf'
 Passport.jpg
 Photos
'receiving award.jpg'
 Resume.doc
 Resume.pdf
"Share 'New Doc 2019-07-27 16.07.27.pdf'.pdf"
'Smolov Bench (3 weeks).xlsx'
 Snowcity
'Sociology_Optional_Class_Notes_by_Mahapatra (www.UPSCPDF.com).pdf'
'SSC CGL 2018'
 Study
'Tiger Zinda hai 2017'
'today is a gift.mp3'
'UIAS VOL-1(UPSCPDF.com) IAS .pdf'
'UIAS VOL-2(UPSCPDF.com).pdf'
 Video
 VIT
 workout

In [0]:
import sklearn_crfsuite

ModuleNotFoundError: ignored

In [0]:
!pip install sklearn_crfsuite

Collecting sklearn_crfsuite
  Downloading https://files.pythonhosted.org/packages/25/74/5b7befa513482e6dee1f3dd68171a6c9dfc14c0eaa00f885ffeba54fe9b0/sklearn_crfsuite-0.3.6-py2.py3-none-any.whl
Collecting python-crfsuite>=0.8.3
  Downloading https://files.pythonhosted.org/packages/95/99/869dde6dbf3e0d07a013c8eebfb0a3d30776334e0097f8432b631a9a3a19/python_crfsuite-0.9.7-cp36-cp36m-manylinux1_x86_64.whl (743kB)
     |████████████████████████████████| 747kB 3.8MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sklearn_crfsuite) (1.12.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from sklearn_crfsuite) (0.8.7)
Requirement already satisfied: tqdm>=2.0 in /usr/local/lib/python3.6/dist-packages (from sklearn_crfsuite) (4.38.0)
Installing collected packages: python-crfsuite, sklearn-crfsuite
Successfully installed python-crfsuite-0.9.7 sklearn-crfsuite-0.3.6

In [0]:
import sklearn_crfsuite

In [1]:
# Assign variable names
age=12
name="john"
# Check types
type_age=type(age)
type_name=type(name)
# print out types
print(type_age)
print(type_name)
# Code ends here

<class 'int'>
<class 'str'>

In [0]:
complex numbers of the form $\ a + bJ$

In [2]:
# Code starts here

# store variable names
P=1000
r=10
n=2
# compound interest formula
A=P*(pow((1+r/100),n))

# display compound interest
interest=A-P

# display interest
print(interest)

# Code ends here

210.00000000000023

In [0]:
Strings in Python
Single quotes: Example: name = 'Paul'.
Double quotes: Example: name = "Paul"
Triple quotes: They are used so that we can work with multi-line strings, and all associated whitespace will be included in the string.
Example: """This is a function. Do not change it or else it will not work"""

**STRINGS**

In [3]:
# initialize variables
name, title = 'Monty', 'Python'

# Code starts here
# full name
full_name=name+" "+title
print(full_name)

# first name
first_name=full_name[0:5]
print(first_name)

# length of full name
len_name=len(full_name)-1
print(len_name)

# Is "f" in full name?
is_f='f' in full_name
print(is_f)

# Split into first name and title
split=full_name.split(" ")
print(split[0])
print(split[1])

# Code ends here

Monty Python
Monty
11
False
Monty
Python

**LISTS**

In [4]:
# Code starts here
# create list of weights
weights=[70,80,45,50]

# maximum weight
maximum=max(weights)
print(maximum)

# change values
weights[2]=48

# calculate sum
total=sum(weights)
print(total)

# calculate mean
elements=len(weights)
mean=total/elements
print(mean)

# Code ends here

80
248
62.0

**DICTIONARY**

In [1]:
# Code starts here
# initialize dictionary
fruits={'apple':'green','banana':'yellow','cherry':'red'}

# change color of apple
fruits['apple']='red'

# add guava
fruits['guava']='green'

# delete cherry
del fruits['cherry']

# display fruits
print(fruits)

# Code ends here

{'apple': 'red', 'banana': 'yellow', 'guava': 'green'}

**TUPLE(S)**
You cannot delete an element from the tuple (as they are immutable), but you can delete the entire tuple.

In [2]:
# create tuple of weights
weights = (70, 80, 45, 50)

# Code starts here
# create new tuple of weights
weights_new = (70, 80, 48, 50)

# calculate maximum and minimum weights
maximum = max(weights_new)
minimum = min(weights_new)
print(maximum)
print(minimum)
# calculate sum of weights
sum_weights = sum(weights_new)
print(sum_weights)
# calculate mean
mean_new = sum_weights/len(weights_new)
print(mean_new)
# Code ends here

80
48
248
62.0

**Checking Mutability**

You can check if an object is mutable by first modifying the object and then comparing its new memory location with the old memory location. You can check for memory location either by using the id() function, which gives the memory location of an object or with the help of is operator, which checks for the identity of two objects.

In [7]:
l=[1,3,5,7,5] 
l.remove(5)
print(l)

[1, 3, 7, 5]

**ARITHMETIC OPERATORS**

In [1]:
x=15
y=4

# addition
addition = x + y
# subtraction
subtraction = x - y
# multiplication
multiplication = x * y
# divison
division = x / y
# integer_division
integer_division = x // y
# exponentiation
exponent = x ** y

# result
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(integer_division)
print(exponent)

19
11
60
3.75
3
50625

**COMPARISON OPERATORS**

In [2]:
# x=10
# y=12

#Code starts here
# greater than
is_greater = x > y
# lesser than
is_less = x < y
# equal to
is_equal = x == y

# greater than or equal to
is_greater_equal = x >= y
# lesser than or equal to
is_less_equal = x <= y

print(is_greater)
print(is_less)
print(is_equal)
print(is_greater_equal)
print(is_less_equal)
# Code ends here

True
False
False
True
False

**LOGICAL OPERATORS**

In [1]:
x, y = True, False
# Code starts here
# AND operation
x_and_y = x and y
# OR operation
x_or_y = x or y
print(x_and_y)
print(x_or_y)
# Code ends here

False
True

**MEMBERSHIP OPERATORS**

In [2]:
# given variable
name = "John"

# Code starts here
# check for memberships
john = name in ['John','Rick']
# Display variables
hall = name in ['Hall','Rick']

print(john)
print(hall)
# Code ends here

True
False